syntax: glob

# temp files
*.sh~
*.*~
.DS_Store

# Byte-compiled / optimized
__pycache__/
*.pyc
*.pyo
*.cache/
*.aux.xml

# coverage files
.coverage
.coverage.*
htmlcov/

# google drive settings
*desktop.ini

# PyCharm settings
.idea/

# Microsoft installers
*.msi

# Windows executable
*.exe

# Mac OS X installers
*.dmg

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
docs/_build/*

# notebooks checkpoint
*.ipynb_checkpoints
multibeam_tools/libs/readBIST.py
multibeam_tools/libs/readBIST.py
*.all
*.txt
*.png
*.kmall
*.pkl
multibeam_tools/libs/testing.py
multibeam_tools/apps/bist_plotter_gui.py
multibeam_tools/apps/bist_plotter_gui.py
multibeam_tools/libs/bist.py
multibeam_tools/libs/bist.py
multibeam_tools/libs/bist.py
multibeam_tools/apps/bist_plotter_gui.py
multibeam_tools/libs/parseEMswathwidth_DEPRECATED.py
multibeam_tools/libs/parseEMswathwidth.py
multibeam_tools/libs/parseEMswathwidth.py
multibeam_tools/libs/parseEMswathwidth.py
multibeam_tools/libs/parseEMswathwidth.py
multibeam_tools/apps/accuracy_plotter_testing/ATL_EM122_2019_reference_surface_100m_UTM10N.xyz
multibeam_tools/apps/EM304_ref_surf_from_ALL_format_200_m_UTM16N.xyz
multibeam_tools/apps/octagon_testing/RXnoise_WS.zip
multibeam_tools/apps/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_depth.xyz
multibeam_tools/apps/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_density_sonarDTM.xyd
multibeam_tools/libs/parseEMswathwidth.py
multibeam_tools/libs/parseEMswathwidth.py
multibeam_tools/apps/EM304_ref_surf_from_ALL_format_200_m_UTM-16S - Copy.xyz
multibeam_tools/apps/EM304_ref_surf_from_ALL_format_200_m_UTM 09S - Copy (2).xyz
multibeam_tools/apps/EM304_ref_surf_from_ALL_format_200_m_16N - Copy (3).xyz
multibeam_tools/apps/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_100m_UTM10N.xyz
multibeam_tools/apps/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM10N_density.xyd
multibeam_tools/apps/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM10N_depth.xyz
multibeam_tools/apps/EM304_ref_surf_from_ALL_format_200_m_UTM_17N - Copy (4).xyz
multibeam_tools/libs/parseEMswathwidth.py
multibeam_tools/libs/parseEMswathwidth.py
deprecated/parseEMswathwidth_DEPRECATED.py
deprecated/bist_plotter_gui_DEPRECATED.py
deprecated/bist_DEPRECATED.py
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_100m_UTM10N.xyz
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM10N_density.xyd
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM10N_depth.xyz
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM_10N_density_TEST.sd
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM_10N_density_TEST.xyd
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM_10N_depth_TEST.sd
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM_10N_depth_TEST.xyz
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM_10N_depth_TEST_v225.sd
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_100m_UTM_10N_depth_TEST_v225.xyz
testing/EM304_ref_surf_from_ALL_format_200_m_16N - Copy (3).xyz
testing/octagon_testing/RXnoise_WS.zip
testing/EM304_ref_surf_from_ALL_format_200_m_UTM_17N - Copy (4).xyz
testing/EM304_ref_surf_from_ALL_format_200_m_UTM16N.xyz
testing/EM304_ref_surf_from_ALL_format_200_m_UTM-16S - Copy.xyz
testing/EM304_ref_surf_from_ALL_format_200_m_UTM 09S - Copy (2).xyz
*.tid
testing/accuracy_plotter_testing/ATL_EM122_2019_ref_surf_CUBE_500m_UTM10N_depth.xyz
*.xyz
*.fig
*.xyd
multibeam_tools/libs/plot_RX_noise_generic.py
freeze/pyinstaller_required_files.zip
multibeam_tools/apps/gsfpy_testing.py
*.kmwcd
multibeam_tools/apps/find_file_gaps_testing.py
